import os
EnginePath = 'D:/Epic Games/4.12'
UATScript = os.path.join(EnginePath, 'Engine/Build/BatchFiles/RunUAT.bat') # .bat for windows, .sh for linux and mac

conf = {
    'EnginePath': EnginePath,
    'UATScript': UATScript,
    'OutputFolder': 'D:/AutoPackaging', # Need to be absolute path
}
