*.dll
*.exe
*.pch

*.suo
*.opendb
*.sln
*.sdf
*.pro
*.kdev4
*.workspace
*.pri
*.txt
.cproject
# For CDT
.project
# Eclipse
*.pro.user

core

Makefile
CMakeLists.txt

Intermediate/
Binaries/
Content/InfinityBladeWarriors/
Saved/
DerivedDataCache/

*.uproject
