# Ignore all files by default
*
# Allow folder to enable recursive file discovery
!*/

# Ignore binary folders produced by UE4
Binaries/
Intermediate/
Plugins/

# Recursively ignore some cache folders
**/.cache/
**/__pycache__/
**/.tox/
**/.DS_Store
**/.ipynb_checkpoints/

# Ignore binary folders produced by sphinx and doxygen
docs/_build/
docs/doxygen/

# Files to track
!.gitignore
!LICENSE
!*.py
*.pyc
!*.cpp
!*.h
!*.rst
!*.md
!*.json
!*.ini
!*.uplugin
!*.ipynb
